@import "@/scss/colors.scss";

.snake-card {
  background-color: $mainColor;
  border: 1px solid black;
  padding: 18px 12px 18px 12px;
  width: 192px;
  height: 350px;

  .snake-card-avatar {
    border: 1px solid black;
    width: 166px;
    height: 154px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .snake-card-content {
    padding: 8px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
  }
}

.selected-snake-container {
  width: 100px;
  z-index: 1;
  margin-left: -50px;
  margin-top: 50px;
  margin-right: 50px;
}
